/* Grundlayout */
body {
  margin: 0;
  background: #111;
  font-family: Arial, sans-serif;
  color: white;
}


/* Dashboard */
.body {
  margin: 0;
  background: #111;
  font-family: Arial, sans-serif;
  color: white;
}

@font-face {
  font-family: nFont;
  src: url(../fonts/normaleFONT.ttf);
}

@font-face {
  font-family: uFont;
  src: url(../fonts/uberschriftenFONT.ttf);
}

p {
  font-family: nFont;
}

h1 {
  font-family: uFont;
}

h2 {
  font-family: uFont;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  background: red;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-right: 3px solid white;
}

.navButton {
  background: #222;
  color: white;
  padding: 15px;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.navButton:hover {
  background: red;
}

.mainContent {
  flex: 1;
  padding: 30px;
}

.accountView {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.topSection {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profilePic {
  width: 150px;
  height: 150px;
  background: #222;
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid white;
}

.profilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.username {
  background: #222;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 22px;
}

input {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: #222;
  color: white;
  outline: none;
  margin-bottom: 10px;
}

input:focus {
  border-color: red;
}

#saveButton {
  padding: 14px;
  background: red;
  color: white;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 25px;
  transition: background 0.3s;
}

#saveButton:hover {
  background: darkred;
}

*::-webkit-scrollbar {
  display: none;
}
