:root {
    --siteBackgroundcolor:#ff0000;
    --lineBackgroundcolor:#D9D9D9;
   
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
body{
    background-color: var(--siteBackgroundcolor);

}
@font-face {
    font-family: normaleFONT;
    src: url(../fonts/normaleFONT.ttf);
}
@font-face {
    font-family: uberschriftenFONT;
    src: url(../fonts/uberschriftenFONT.ttf);
}

h2{
    font-family:uberschriftenFONT;
    font-size: 40px;
}
a{
    text-decoration: none;
    color: black;
}
#fameUBERSCHRIFT{
    position: absolute;
    top: 530px;
    left: 20px;
    z-index: 1000;
}

#bannerINFINITYGAUNTLET{
    width: 22vw;
    height: auto;
    position: absolute;
    left:-55px;
    top: -83.43px;
    transform: rotate(8deg);
    z-index: -1;
    font-family: var(--uberschriftenFONT);

}
#line1{
    position: absolute;
    top: -10px;
    left: 390px;
    width: 15px;
    height: 600px;
    background-color: var(--lineBackgroundcolor);
    transform: rotate(8deg);
    z-index: 99;
}

#bannerSECRETWAR{
    width: 23vw;
    height: auto;
    position: absolute;
    left: 380px;
    top: -10px;
    z-index: -2;
    
}
#line2{
    position: absolute;
    top: -10px;
    left: 770px;
    width: 15px;
    height: 600px;
    background-color: var(--lineBackgroundcolor);
    transform: rotate(7deg);
    z-index: 99;
}


#bannerCIVILWAR{
    width: 21vw;
    height: auto;
    position: absolute;
    left: 781px;
    top: -54.73px;
    transform: rotate(7deg);
    z-index: -1;
    
}

#line3{
    position: absolute;
    top: -10px;
    left: 1195px;
    width: 15px;
    height: 600px;
    background-color: var(--lineBackgroundcolor);
    transform: rotate(7deg);
    z-index: 99;
}
#bannerHOUSEOFM{
    width: 22vw;
    height: auto;
    position: absolute;
    left:1165.42px;
    top: -109.05px;
    transform: rotate(-3deg);
    z-index: -2;
}

#line4{
    position: absolute;
    top: -10px;
    left: 1610px;
    width: 15px;
    height: 600px;
    background-color: var(--lineBackgroundcolor);
    transform: rotate(-3deg);
    z-index: 99;
}

#bannerOLDMANLOGAN{
    width: 25.2vw;
    height: auto;
    position: absolute;
    left:1574.42px;
    top: -166px;
    transform: rotate(10deg);
    z-index: -3;

}
#bannerRISS{
    z-index: 100;
    position: absolute;
    top: 360px;
    left: -300px;
    transform: scale(0.95);
}
